# ОСНОВА (ТВОЯ)
Heroku-tl-new>=1.0.2
Pillow
gitpython
aiohttp
python-magic

# СЕТЬ И СИСТЕМА
pip
setuptools
wheel
certifi
python-dotenv
requests
httpx
yarl
pydantic
python-dateutil
pyyaml
psutil

# МУЗЫКА И ТЕЛЕГРАМ (БЕЗ ТЯЖЕЛЫХ ЛИБ)
imageio-ffmpeg
yt-dlp
pytube
spotipy
pydub
tgcrypto

# НЕЙРОНКИ
google-generativeai
openai
g4f
beautifulsoup4
